.centerDiv {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    border-width: 2px;
    border-color: black;

  }

  .firstSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .formContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imageStyle{
    width: 50%;
    height: auto;
  }
