.centerDiv {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .topWarning {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50%;
    margin: auto;
  }

  .buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .cardSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
